.plant{
    position: absolute;
    z-index: 10;
    width: 65px;
    height: 65px;
    background-size: cover;
}
.sunflower{
    background-image: url('../assets/plant/sunflower.gif');
}
.sunshine{
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 30px;
    background-image: url('../assets/sun.gif');
    background-size: cover;
    opacity: .9;
}
/* 小阳光 */
.sunshine0{
    width: 30px;
    height: 30px;
}
/* 中阳光 */
.sunshine1{
    width: 50px;
    height: 50px;
}
/* 大阳光 */
.sunshine2{
    width: 70px;
    height: 70px;
}

/* 豌豆射手 */
.peashooter{
    background-image: url('../assets/plant/Peashooter.gif');
}
/* 豌豆子弹 */
.bullet{
    position: absolute;
    z-index: 20;
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
}
.PB00{
    background-image: url('../assets/bullet/PB00.png');
}

